.curso-titulo{
    color: #1b7161;
    font-size: 25px;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%
}

.sobre .tarjeta {
    position: relative;
    max-width: 260px;
    height: 215px;
    background: #1b7161;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    text-align: center;
}

.sobre .tarjeta:hover {
    height: 465px;
}

.sobre .tarjeta .imgIcon {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.sobre .tarjeta .imgIcon img {
    max-width: 100%;
    border-radius: 5px;
}

.sobre .tarjeta .resumen {
    position: relative;
    margin-top: -120px;
    padding: 10px 15px;
    text-align: center;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.sobre .tarjeta:hover .resumen {
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
    transition-delay: 0.2s;
}

@media (max-width: 1500px) {
    .sobre{        
        width: 60%;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .curso-titulo{
        margin-left: 33%;
        margin-right: 33%;
    }
    .sobre .tarjeta .imgIcon {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 2px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
}